.containerLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: rgb(187, 227, 218);
    background: linear-gradient(185deg, rgba(187, 227, 218, 1) 0%, rgba(248, 248, 255, 1) 100%);
    border-radius: 2rem 2rem 0 0;


}

.leftSection-all {
    width: 100%;
}

.leftSection-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-style-main);
    border-radius: 2rem 2rem 0 0;
    padding-top: 2rem;
    margin-bottom: 0;
}

.rightSection-footer,
.leftSection-footer {
    line-height: 2rem;
}

.footerMenu-right {
    list-style: none;
}

.footerMenu-right-title {
    color: #018498;
    font-size: 1.1rem;
}



.certificatSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3.5rem;
}

.move {
    cursor: pointer;
}

.certificat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.move {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.4rem;
}

.certificat .enamad {
    max-width: 5rem;
}

.certificat .zarrinPal {
    max-width: 3rem;
}

.own {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    font-family: var(--font-style-main);
    color: #757575;
}

/* -------------------------------------------- */
/* Responsive Design */

@media screen and (max-width :992px) {

    .leftSection-container {
        justify-content: center;
    }

    .footerMenu-right {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (max-width :768px) {}

@media screen and (max-width :576px) {
    .rightSection-footer {
        padding-right: 15px;
    }

    .footerMenu-right {
        padding: 0;
    }

    .footerMenu-right-title {
        font-size: 0.8rem;
    }

    li a {
        font-size: 0.8rem;
    }

    .leftSection-footer {
        text-align: center;
    }

    .certificatSection {
        gap: 6rem;
    }

    .move {
        font-size: 0.8rem;
    }

    .mov a svg {
        width: 2rem;
    }

    .certificat .enamad {
        max-width: 3rem;
    }

    .certificat .zarrinPal {
        max-width: 2rem;
    }

    .own {
        font-size: 0.7rem;
    }
}