.rightSection-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.rightSection-container img {
    width: 12rem;
}

.description {
    font-family: var(--font-style-main);
    font-size: 1.1rem;
}

.socialMedia-container {
    align-self: start;
}

.message {
    font-family: var(--font-style-main);
    font-size: 1.2rem;
    font-weight: 900;
}

.socialMedia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

.socialMedia div {
    font-size: 0.9rem;
}

.socialMedia svg {
    width: 1.5rem;
    padding-left: 0.2rem;
}

/* -------------------------------------------- */
/* Responsive Design */

@media screen and (max-width :992px) {
    .rightSection-container {
        padding-right: 1rem;
    }

    .rightSection-container img {
        width: 8rem;
    }

    .rightSection-container .description {
        font-size: 0.8rem;
        max-width: 15rem;
        text-align: center;
    }

    .rightSection-container .message {
        font-size: 1rem;
        text-align: center;
    }

    .socialMedia-container {
        align-self: center;
    }

    .socialMedia-container .socialMedia {
        gap: 0.5rem;
    }

    .socialMedia div {
        font-size: 0.5rem;
    }

    .socialMedia svg {
        width: 0.8rem;
    }
}

@media screen and (max-width :768px) {
    .rightSection-container {
        display: none;
    }
}

@media screen and (max-width :576px) {
    .rightSection-container {
        display: none;
    }
}