.ProductsSlidebar {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    width: 28%;
    height: 100%;
    font-family: var(--font-style-main);
    padding: 2rem 1rem;
    background-color: #f0fdf4;
    overflow: auto;
}

.ProductsSlidebar-close {
    position: fixed;
    top: 1rem;
    right: 25%;
    cursor: pointer;
}

.ProductsSlidebar-title {
    font-size: 1.5rem;
    padding: 2rem 1.3rem 2rem 0;
}

.ProductsSlidebar-title span {
    background-color: #BBE3DA;
    color: #48685e;
    border-radius: 0.3rem;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    line-height: 1;
}

.details-containor {
    border-bottom: 1px solid #E0E0E0;
    margin: 0 0 1.5rem 0;
}

.ProductsSlidebar img {
    max-width: 3rem;
}

.ProductsSlidebar-productShow {
    background-color: #BBE3DA;
    padding: 0.3rem;
    color: #48685e;
    cursor: pointer;
}

/* -------------------------------------------- */
/* Responsive Design */

@media screen and (max-width :992px) {
    .ProductsSlidebar {
        width: 45%;
    }

    .ProductsSlidebar-close {
        right: 40%;
    }

    .row .productsSlidebar-header,
    .details-containor img,
    .ProductsSlidebar-productCount {
        display: none !important;
    }

    .ProductsSlidebar-close svg {
        width: 1.8rem;
    }

    .ProductsSlidebar-title {
        font-size: 1.1rem;
    }

    .ProductsSlidebar-title .ProductsSlidebar-count {
        width: 1.1rem;
        height: 1rem;
    }

    .details-containor h5 {
        font-size: 1rem;
    }

    .ProductsSlidebar-productName,
    .ProductsSlidebar-productPrice {
        font-size: 0.8rem;
    }

    .ProductsSlidebar-productPrice {
        color: var(--them-color);
    }

    .ProductsSlidebar-productShow a {
        font-size: 0.8rem;
    }
}

@media screen and (max-width :768px) {
    .ProductsSlidebar {
        width: 50%;
    }

    .ProductsSlidebar-close {
        right: 45%;
    }
}

@media screen and (max-width :576px) {
    .ProductsSlidebar {
        width: 70%;
    }

    .ProductsSlidebar-close {
        right: 65%;
    }

}