@font-face {
  font-family: DastNevis;
  src: url('../public/fonts/Dast\ Nevis-.OTF') format('opentype');
}

@font-face{
  font-family: FarCompset;
  src: url('../public/fonts/Far_CompsBd.ttf');
}

:root{
  --bg-color: #F8F8FF;
  --them-color: #BBE3DA;
  --font-style : 'DastNevis';
  --font-style-main: 'FarCompset';
}

body{
  background: var(--bg-color);
}