@font-face {
  font-family: 'BNazanin-Bold';
  src: url('../public/fonts/B\ Nazanin\ Bold-.ttf') format('opentype');
}

@font-face {
  font-family: 'BNazanin';
  src: url('../public/fonts/BNazanin.ttf');
}

:root {
  --bg-color: #F8F8FF;
  --them-color: #BBE3DA;
  --font-style: 'DastNevis';
  --font-style-main: 'BNazanin-Bold';
  --font-style-second: 'BNazanin';
  --m-LR: 5rem;
  --m-TB: 3.5rem;
}

html,
body {
  scroll-behavior: auto !important;
  overflow: visible !important;
}

body {
  /* background: var(--bg-color) */
  background-color: #F8F8FF;
  background-image: radial-gradient(rgb(63 154 134 / 33%) 0.6000000000000001px, #F8F8FF 0.6000000000000001px);
  background-size: 12px 12px;
}