.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem var(--m-LR);
    margin-bottom: 0;
}

.navBar-samllScreen {
    display: none;
}

.showHamburgerMenu {
    display: flex;
    z-index: 2;
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--them-color);
    flex-direction: column;
    justify-content: left;
    align-items: right;
    padding: 1.5rem;
    gap: 1rem;
}

.showHamburgerMenu .showHamburgerMenu-close {
    text-align: left;
}

.rightSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.3rem;
}

.logo {
    max-width: 150px;
    height: 76px;
    border-left: solid #D1D5DB 0.1rem;
    padding-left: 2.3rem;
}

a {
    text-decoration: none;
    color: black;
}

.menuTitle {
    font-family: var(--font-style-main);
    font-size: 1.3rem;
}

.menuTitle:hover {
    color: #3f9a86;
}

.leftSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.3rem
}

.search__input {
    padding: 3px 27px;
    font-size: 14px;
    line-height: 1.8rem;
    font-family: var(--font-style-main);
    color: #575756;
    background-color: #EAEBF3;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 95% center;
    border-radius: 0.5rem;
    border: 1px solid #EAEBF3;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input::placeholder {
    color: rgba(87, 87, 86, 0.8);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search__input:hover,
.search__input:focus {
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}

.basketIcon {
    font-size: 1.5rem;
    position: relative;
}

.basketIcon-counter {
    position: absolute;
    right: -5px;
    bottom: -5px;
    width: 20px;
    font-size: 16px;
    text-align: center;
    border-radius: 14px;
    background-color: var(--them-color);
    font-family: var(--font-style-main);
}

.userIcon {
    font-size: 1.8rem;
}

.logInBts {
    border: none;
    width: 8rem;
    font-family: var(--font-style-main);
    line-height: 2;
    background-color: var(--them-color);
    border-radius: 0.5rem;
    font-size: 1.1rem;
}

/* -------------------------------------------- */
/* Responsive Design */

@media screen and (max-width :992px) {
    .navBar {
        margin: 1rem 2rem;
        margin-bottom: 0px;
    }

    .rightSection {
        gap: 1.5rem;
    }

    .logo {
        max-width: 100px;
        height: 46px;
        padding-left: 1.5rem;
    }

    .menuTitle {
        font-size: 1.1rem;
    }

    .leftSection {
        gap: 1.5rem
    }

    .search__input {
        line-height: 1rem;
        padding: 3px 0 0 0;
    }

    .basketIcon svg {
        width: 1.6rem;
        padding: 0;
    }

    .basketIcon span {
        width: 16px;
        font-size: 13px;
    }

    .logInBts {
        width: 6.5rem;
        line-height: 1.6rem;
    }
}

@media screen and (max-width :768px) {
    .navBar {
        margin: 1rem 2rem;
        margin-bottom: 0px;
    }

    .rightSection {
        gap: 1.5rem;
    }

    .logo {
        max-width: 100px;
        height: 46px;
        padding-left: 1.5rem;
    }

    .menuTitle {
        font-size: 1.1rem;
    }

    .leftSection {
        gap: 1.5rem
    }

    .search__container {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAbCAYAAACN1PRVAAABuklEQVRIS+2WyysFcRTH7/VMXgsLyUopCcVSIWUhiY1HLMjGysqOrZKtjb9AQthYIHmksLDwKlZeC4piITvvz7dmdP3u3LmNmW534Veffvd3fnPOd86ZM7+54VACRziBWqGkEKsh43wfWT/je2T6m5mlcsEZlPkQsl3P+VEJX7bBFGtkYxumYNGHYCe+Q6B4O7HEetiYhV6Y8yHmGMfM7F8sXoUDLWO91Wk5zFewDi8RdxCIWAEBp6HFSO2OdT9sWfYm5g3QbNuiTpB4DbKGcy2Mwio8Qh2MQTlUwXWsGnvpxmaCSGwYJo2ARaxvYN7K0FHPi9gIESZAR9mxQ7RTbIqn7HyLSUiCpXDpEG0XWwkUByFmP89ugi0YATNZP8AetAYhlk2QE/iEBri3gqp0h1ANv7rPFPXyzOSr57UC+jroVNfQ66DTXWMG+uDnpI8U9Com31xQ66tchbAJ6s5BCwkOwLvfzEz/yHUKC30pumAZOkxBM7M268JxZp0A5rjFcOGimMbeErRDVNeaYirRE6THCPiBPQveXAQz2FOzHMQro/bzoALUzuZ4xbDvIuS6lRT/rv5688mT2TfSGWkcDXxsbQAAAABJRU5ErkJggg==");
        width: 1.6rem;
        height: 1.5rem;
        cursor: pointer;
    }

    .search__input {
        display: none;
    }

    .basketIcon svg {
        width: 1.6rem;
        padding: 0;
    }

    .basketIcon span {
        width: 16px;
        font-size: 13px;
    }

    .logInBts {
        width: 6.5rem;
        line-height: 1.6rem;
    }
}

@media screen and (max-width :576px) {

    .navBar {
        margin: 1rem;
    }

    .leftSection,
    .rightSection {
        display: none;
    }

    .navBar-samllScreen {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: start;
    }

    .logo {
        border: none;
        padding: 0;
    }

    .navBar-samllScreen svg {
        padding: 0;
        cursor: pointer;
    }

    .basketIcon-counter-showHamburgerMenu {
        display: inline-block;
        width: 20px;
        background-color: rgb(63, 154, 134);
        text-align: center;
        border-radius: 10px;
        font-size: 0.9rem;
    }

}